:root {
    --fondo-principal: #0b0108;
    --fondo-secundario: #1a0213;
    --fondo-tersario: #2e0422;
    --texto-principal: #F3F3F3;
    --acento: #FF0055;
    --acento-glow: rgba(255, 0, 85, 0.4);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
